<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm</title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <a href="/">All Files</a>
    <a href="/add"> Upload</a>
    <a id="delete-all-data-btn">Clear Database</a>
  </header>
  <% if (locals.error) { %>
    <div style="color: red; margin-bottom: 1rem;">
      Incorrect Password
    </div>
  <% } %>
  <div class="app">
  <form method="post">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Download</button>
  </form>
</div>
  <script>
    const deleteAllDataBtn = document.getElementById("delete-all-data-btn");

    deleteAllDataBtn.addEventListener("click", async () => {
      const password = prompt(
        "Please enter your password to delete all data:"
      );
      const response = await fetch("/deleteAllData", {
        method: "DELETE",
        headers: { password },
        body: JSON.stringify({ password }),
      });
      const result = await response.json();
      alert(result.message);
    });
  </script>
</body>
</html>